{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">
    <h1>Bonjour {{user.firstname|capitalize}} {{user.lastname|capitalize}}</h1>

    {% if resClients != null %}
        <h5>Mes clients</h5>
        {% for resClient in resClients %}
            {% for client in clients %}
                {% if client.id == resClient.clientid.id %}
                    <div class="card border-warning mt-3 mb-3 col-6">
                        <div class="card-body">
                        <p class="card-text">Je garderai le chien de {{client.firstname|capitalize}} {{client.lastname|capitalize}}</p>
                        <p class="card-text">Du {{resClient.start|date("d/m/Y")}} au {{resClient.end|date("d/m/Y")}} </p>
                        <p class="card-text">Contactez le client <a class="btn primary" href="{{ path('messages_send', {'id': client.id}) }}">Contact</a></p>
                        <p class="card-text">Envoyez lui un mail : {{client.email}} </p>
                    </div>
                </div> 
                
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if resGardiens != null %}
        <pre>
            {{ dump(resGardiens) }}
        </pre>
        <h5>Mes gardiens</h5>
        {% for resGardien in resGardiens %}
            {% for gardien in gardiens %}
                {% if gardien.id == resGardien.gardienid.id %}
                    <div class="card border-warning mt-3 mb-3 col-6">
                        <div class="card-body">
                        <p class="card-text">{{gardien.firstname|capitalize}} {{gardien.lastname|capitalize}} gardera mon chien.</p>
                        <p class="card-text">Du {{resGardien.start|date("d/m/Y")}} au {{resGardien.end|date("d/m/Y")}} </p>
                        <p class="card-text">Contactez le client <a class="btn primary" href="{{ path('messages_send', {'id': gardien.id}) }}">Contact</a></p>
                        <p class="card-text">Envoyez lui un mail : {{gardien.email}} </p>
                    </div>
                </div> 
                
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
        
    <a class="btn secondary" href="#">Modifier votre profil</a>    <a class="btn primary mt-3 mb-3" href="/">Retour à l'accueil</a>
</div>
{% endblock %}
