{% extends 'base.html.twig' %}

{% block title %}Announces{% endblock %}

{% block stylesheets %}
<style>
    #calendrier{
        width:50vw;
        margin:auto;
    }
</style>
{% endblock %}

{% block body %}


<div class="announce">
    <h1 class="text-center mt-3 mb-2">{{ announce.title|capitalize }}</h1>

    

{# CAROUSEL IMAGES ANNONCE #}

{% if announce.images != "" %}
<div>
    <img id="img_announce" src="/image/upload/{{ announce.images }}" alt="image">
</div>
{% endif %} 

{# FIN CAROUSEL IMAGES ANNONCE #}

<div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="adresse_announce me-2">{{ announce.Address }}, </h2>
        <h2 class="adresse_announce me-2"> {{ announce.City }}, </h2>
        <h2 class="adresse_announce">{{ announce.postcode }}</h2>
    </div>
</div>

<div id="description">
    <p>{{ announce.description }}</p>
</div>

<div>
    <p class="mb-0">Contactez ce gardien</p>
    <div class="d-flex flex-row justify-content-around align-items-center">
        <h5 class="text-center mb-0 col-6"><img class="icone me-1" src="../image/icones/mail.png" alt="">Mail : {{ user.email }}</h5>
        <a class="col-6 btn primary" href="{{ path('messages_send', {'id': user.id}) }}">Laissez lui un message</a>
    </div>
</div>

    <div id="calendrier">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">{{ form_label(form.start) }} {{ form_widget(form.start) }}</div>
            <div class="col-6">{{ form_label(form.end) }} {{ form_widget(form.end) }}</div>
        </div>
            
        {{ form_end(form) }}
    </div>

    <a class="btn mt-2 primary" href="{{ path('home_search', {'previousCity': previousCity}) }}">Retour aux recherches</a>


    {% if app.user %}
        {% if app.user.id == announce.userID.id %}
            <a class="btn btn-secondary" href="{{ path('announces_edit', {'id': announce.id}) }}">Éditer</a>

        {% endif %}
    {% endif %}
    
</div>


    {{ include('announces/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.3.0/main.min.js"></script>
<script>

let reservations = document.getElementsByClassName("fc-daygrid-event")
console.log(reservations)

let inputStart = document.querySelector(".inputStart")
let inputEnd = document.querySelector(".inputEnd")

let dataCalendar = {{ data|raw }};
let calendar
let calendarElt

$(function() {

    preResa = []
    $(".js-datepicker").on("change",function(){
        var selected = $(this).val();
        let startDate = selected + ' 00:00:00'
        preResa = {
            id: 12,
            start: startDate,
            end: '2021-11-30 00:00:00',
            title: 'Pre contrat'
        }
        JSON.stringify(preResa)
        let data = {{ data|raw }}
        let index = 0
        for(let i = 0; i < data.length; i++)
        {
            index++
        }
        data[index] = {
            id: 7,
            start: startDate,
            end: '2021-11-30 00:00:00',
            title: 'Pre contrat'
        }
        dataCalendar = data
    });
    
});


window.onload = () => {
    calendarElt = document.querySelector("#calendrier")

    console.log("yaya")

    calendar = new FullCalendar.Calendar(calendarElt, {
        selectable: true,
        dragScroll:true,
        unselectAuto:false,
        unselect:false,
        initialView: 'dayGridMonth',
        locale: 'fr',
        select: function(info) {
            
            document.querySelector(".inputStart").value = info.startStr
            document.querySelector(".inputEnd").value = info.endStr
            //alert('selected ' + info.startStr + ' to ' + info.endStr);
        },
        timeZone: 'Europe/Paris',
        headerToolbar: {
            start:'prev today',
            center: 'title',
            end: 'next',
        },
        events: dataCalendar,
    })

    calendar.render()
}

</script>
{% endblock %}
