{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Confirmation</h1>

    <div class="">
        <div class="card-body">
        <p class="card-text">{{gardien.firstname|capitalize}} {{gardien.lastname|capitalize}} gardera mon chien.</p>
        <p class="card-text">Du {{data.form.start|date("d/m/Y")}} au {{data.form.end|date("d/m/Y")}} </p>
        <p class="card-text dailyprice" id="{{ announce.dailyprice }}"></p>
        <p class="card-text" id="price"></p>
        <p class="card-text col-3">Mon TOUTOU ne prend pas en charge les paiements par carte bancaire, vous devrez donc régler en main propre, soit par espèce, soit par chèque auprès de votre gardien.</p>
        <p class="card-text">Contactez le client <a class="btn primary" href="{{ path('messages_send', {'id': gardien.id}) }}">Contact</a></p>
        <p class="card-text">Envoyez lui un mail : {{gardien.email}} </p>
    </div>

{% endblock %}

{% block javascripts %}
<script src="/js/book_mgt.js">
    start = {{data.form.start }}
    end = {{data.form.end }}
</script>
{% endblock %}
